<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SWISH_PRIVACY_POLICY_URL</key>
	<string></string>
	<key>SWISH_SUPPORT_URL</key>
	<string>https://github.com/greengnome/swish/issues</string>
</dict>
</plist>
